.header{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
}
.cart-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn{
    display: flex;
    color: aliceblue;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
    width: 75px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(65, 65, 65);
}
.cart-btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}