.outerMost-product-container{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 15px;
}

.inside{
    /* background-color: rgb(255, 255, 255); */
    padding: 20px;
    /* border: 3px solid rgba(73, 73, 73, 0.253); */
    border-radius: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.all-Images-container{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction:row;

}

.all-additionalImages-container{
    /* background-color: rgb(69, 182, 182); */
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.additionalImages{
    padding-top: 5px;
    /* background-color: aqua; */
}

.main-Image-product{
    display: flex;
    /* background-color: rgb(52, 53, 52); */
}

.product-deatails-container{
    /* background-color: rgb(57, 204, 204); */
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 50%;
}
.product-deatails-container-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    justify-content: space-between;
}

.title-text-container{
    font-size: 25px;
    font-weight: 600;
}

.price-text-container{
    font-size: 20px;
    font-weight: 500;
}

.btn-container-product-details{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.productDetails-buy-add-btn{
    background-color: blueviolet;
    width: 100%;
    margin: 5px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
}

.buyNow-btn{
    border: 3px solid rgb(255, 166, 0);
    background-color: gold;
    font-size: 18px;
    color: rgb(18, 80, 196);
    padding: 5px;
}

.reviews-container{
    /* background-color: blueviolet; */
}

.single-reviews-container{
    display: flex;
    margin: 10px;
}
.single-reviewsimage{
    margin-right: 15px;
    background-color: antiquewhite;
    border-radius: 50%;
}